<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestNg" verbose="1" >

 <listeners>
   <listener class-name="com.retrylogic.AnnotationTransformer"/>
 </listeners>
  
  <test name="test" >
  
  
  
    <classes>
        
           <class name="com.testpackage.zooplaTest"></class>
          
          
    
    </classes>
    
      
  </test>
  
</suite>